[submodule "public"]
	path = public
	url = https://github.com/samsung-ga/samsung-ga.github.io.git
	branch = deploy
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
